# tox enviroments that run on both pull requests and merge to main
name: ci

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    strategy:
      # fail-fast: false
      matrix:
        python-version: [3.8, 3.11] # to minimise complexity we only test a min and a max version
        # you can separate the tox-envs in different .yml files
        # see version 0.10.1
        # https://github.com/gidden/ptolemy/releases/tag/v0.10.1
        # below the list of tox envs that you wish to include in the matrix
        include:
          # on all platforms and versions do everything
          - tox-envs: [docs, lint, build, test]

    runs-on: self-hosted

    steps:
    - name: Checkout with lfs
      uses: actions/checkout@v3
      with:
        lfs: true

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}

    # hack for now, replace with below after fixing
    - name: Install dependencies and package
      run: pip install .[docs,test,lint]

    - name: Test with pytest
      run: pytest tests

    - name: Build Docs
      run: |
        conda install pandoc
        sphinx-build -E -b html docs docs/html
    # hack for now, replace with below after fixing

    # - name: Install tox
    #   run: |
    #     python -m pip install tox

    # - name: Run tox environments for testing
    #   run: tox -e ${{ join(matrix.tox-envs, ',') }}

    # # from https://github.com/codecov/codecov-action
    # - name: Upload coverage to Codecov
    #   uses: codecov/codecov-action@v3
    #   with:
    #     files: ./coverage.xml
    #     #fail_ci_if_error: true
    #     verbose: true
